@import url('https://fonts.googleapis.com/css2?family=IBM+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat&family=Quicksand&display=swap');

* {
  font-family: 'IBM', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: 'IBM', sans-serif;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
a {
  font-family: 'IBM', sans-serif;
  font-weight: 400;
  color: #4666FF;
  text-decoration: auto;
}
h2 {
  font-weight: 400;
  font-family: 'IBM', sans-serif;
  color: black;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h3 {
  font-weight: 400;
  font-family: 'IBM', sans-serif;
  color: white;
  text-decoration-color: white;
  position: absolute ;
  text-align: right;
  margin-left: 0px;
}
h4 {
  text-align: right;
  scale: .2;
  margin-left: 1750px;
  margin-top: 100;
  width: 20px;
  height: 20px;
  z-index: auto;
}
head {
  font-weight: 400;
  font-family: 'IBM', sans-serif;
  color: white;
  text-decoration-color: white;
  position: absolute ;
  text-align: right;
  margin-left: 0px;
}
#container {
    font-weight: 400;
    font-family: 'IBM', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    background: #080D0D;
    width: 100%;
    height: 100%;
}
#canvas1 {
    font-weight: 400;
    font-family: 'IBM', sans-serif;
    box-sizing: full;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    scale: .7;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 40px;
    /*filter: blur(5px) contrast(10);*/
}
#audio1 {
    padding-top: -500px;
    font-weight: 400;
    font-family: 'IBM', sans-serif;
    width: 50%;
    margin: 50px auto;
    display: block;
}
#fileupload {
    font-weight: 400;
    font-family: 'IBM', sans-serif;
    margin-left: 850px;
    margin-top: -20px;
    box-sizing: full;
    border-radius: 0px;
    font-size: 17px;
    position: absolute;
    text-align: center;
    top: 150px;
    color: white;
    z-index: 100;
    
}
header, article{
	font-weight: 300;
  font-family: 'IBM', sans-serif;
  position: absolute;
  display: block;
  color: white;
  font-size: 38.5px;
  background: #141414;
  left: 0;
  top: 0px;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: -100px;
  padding-right: 0px;
  padding-top: -500px;
  z-index: 100;
}

#logo {
  margin-top: 365px;
  margin-left: 100px;
  scale: 150%;
}